---
layout: default
scripts: "about isotope"
title: Journal
---

<div class="row box portfolio-title portfolio-title-intro around-xs" style="margin: 9rem auto 3rem;">
  <div class="col-xs-8 col-md-12 " style="max-width: 800px;">
    <h1>
      Creative OPs
    </h1>
    <h3>
      Welcome to my Journal :)
    </h3>
  </div>
</div>

<div class="box" style="max-width:800px; margin-bottom:6rem">
  
  {% comment %}
  <h2 style="margin-bottom:1rem;margin-top:0;font-size:2rem;font-style:italic;">
    Diogo Russo's Journal
  </h2>
  {% endcomment %}
  {%- comment -%} <h2 class="weight-300" style="max-width:675px;margin-bottom:9rem;">
    Welcome to Creative OPs,
    <span class="weight-400">my personal journal</span>. Micro content created
    to provide readers with methods and tools to bring ideas to life and make
    things happen. Inspiration for all, from personal projects and micro
    ventures to Startups and Business Ventures.
  </h2> {%- endcomment -%}
  <h2 class="weight-300" style="max-width:500px;margin-bottom:0rem;font-size:1.5rem">
    Ideas, experiments, methods and tools to help bring ideas to life and make
    things happen. Inspiration for all!    
  </h2>
  
</div>


<section style="padding: 0 0 3rem; max-width: 940px; margin:auto">
<div class="row box">
  {% assign sorted = site.categories | sort: 'date' |  where: 'featured','true' | reverse %}
    {% for category in sorted limit:4 %} 
          
          {% capture img %}
                  {{site.baseurl}}{{site.cdn}}{{category.cover}}
          {% endcapture %}

          {% include components/card/portfolio.html
          cols=6
          url=category.url 
          class=classes 
          title=category.title
          img= img %} 
    
    {% endfor %}
  </div>
  </section>

{%- comment -%} <div>
  {% for post in site.posts limit:4%} {% capture img %} {% if post.categories
  contains "work" %}
  {{site.baseurl}}{{site.cdn}}projects/{{post.slug}}/cover.jpg {% else %}
  {{site.baseurl}}{{site.cdn}}{{post.cover}} {% endif %} {% endcapture %} {%
  include card_large2.html align="right" url=post.url class="" title=post.slug
  categories=post.categories image=img description=post.intro %} {% endfor %}
</div> {%- endcomment -%}
